@import url('https://fonts.googleapis.com/css2?family=Segoe+UI');


body {
    margin: 0;
}

#grid {
    display: grid;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    grid-template-columns: 240px 1fr 576px 1fr;
    background-color: #2F3437;
}

#navigation {
    display: flex;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #373C3F;
    flex-direction: column;
}

#content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column: 3 / 4;
    width: 100%;
    margin: 10vh 0;
}

#navigation ul {
    list-style: none;
    padding: 0;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}

#navigation li {
    color: #AFB1B2;
    padding: 4px 12px;
    background-color: #373C3F;
}

#navigation li:hover {
    background-color: #474C50;
    cursor: pointer;
}

#navigation li.selected {
    background-color: #474C50;
    font-weight: 600;
    color: white;
}

#navigation .nav-icon {
    width: 32px;
    padding-left: 4px;
}

canvas {
    border-radius: 8px;
}