@import url('https://fonts.googleapis.com/css2?family=Segoe+UI');

@font-face {
    font-family: "Pixels";
    src: url(../files/pixel.ttf);
  }

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
    user-select: none;
}

#grid {
    display: grid;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    grid-template-columns: 240px 1fr 576px 64px 200px 1fr;
    background-color: white;
}

#navigation {
    display: flex;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #F7F6F3;
    flex-direction: column;
}

#content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column: 3 / 4;
    width: 100%;
    margin: 10vh 0;
}

#right {
    display: flex;
    grid-column: 5 / 6;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    margin: 10vh 0;
    align-items: center;
}

#navigation ul {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 14px;
}

#navigation li {
    color: #72706B;
    padding: 4px 12px;
    background-color: #F7F6F3;
}

#navigation li:hover {
    background-color: #E8E7E4;
    cursor: pointer;
}

#navigation li.selected {
    background-color: #E8E7E4;
    font-weight: 600;
    color: black;
}

#navigation .nav-icon {
    width: 32px;
    padding-left: 4px;
}

.divider {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #DFDFDE;
    margin-bottom: 16px;
    margin-top: 12px;
}

#content > p {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

input {
    border: 1px solid  #DFDFDE;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
}

#console {
    display: flex;
    flex-direction: column;
    border: 1px solid  #DFDFDE;
    border-radius: 8px;
    color: #72706B;
    font-family: monospace;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    height: 80px;
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#console p {
    margin: 0;
    padding-bottom: 4px;
}

canvas {
    border-radius: 8px;
}

/* Inventory table */

#inventory-image {
    display: none;
    width: 32px;
    height: 32px;
    margin: 16px 0;
}

#inventory {
    display: none;
    border: 1px solid #DFDFDE;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

#inventory table {
    color: black;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    font-family: "Pixels", "Segoe UI", sans-serif;
}

#inventory th {
    background-color: #F7F6F3;
    padding-top: 4px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

#inventory .name {
    width: 100%;
    text-align: left;
}

#inventory span {
    padding: 3px;
}

#inventory .selected {
    background-color: #911111;
    color: white;
}

#inventory .quantity {
    text-align: right;
}

#inventory .name, .quantity {
    padding: 0 8px;
}

#inventory img { 
    height: 24px;
    width: auto;
}