@import url('https://fonts.googleapis.com/css2?family=Segoe+UI');

body {
    font-family: "Segoe UI", sans-serif;
}

#grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: 1fr 320px 1fr;
}

#grid > div {
    display: flex;
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    flex-direction: column;
}

h1 {
    width: 100%;
    text-align: center;
}

input {
    padding: 8px;
    background-color: #F7F6F4;
    border: 1px solid #D0D0CE;
    border-radius: 2px;
    color: #D0D0CE;
    font-size: 1em;
    margin-bottom: 16px;
}

a {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin: 8px 0;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

a.google {
    background-color: #E16259;
    color: white;
}

a.facebook {
    background-color: #3b5998;
    color: white;
}

a.apple {
    border: 1px solid black;
    color: black;
}

a.register {
    color: grey;
    line-height: 1em;
    transition-duration: 0.1s;
}

a.register:hover {
    /*letter-spacing: 0.5px;*/
    color: lightgrey;
}

a.continue {
    background-color: #E16259;
    color: white;
}