@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: "Pixels";
  src: url(../files/pixel.ttf);
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #222323;
  user-select: none;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

#wrapper, #game, #menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game {
  flex-direction: column-reverse;
}

#menu ul {
  list-style: none;
  font-family: "Press Start 2P", monospace;
  color: white;
  padding: 0;
  margin: 0;
  cursor: default;
}

#menu li {
  display: inline-block;
  cursor: pointer;
  margin: 0 16;
  transition-duration: 0.2s;
  opacity: 1;
}

#menu li:hover {
  opacity: 0.5;
}

#menu p {
  display: inline-block;
  cursor: default;
}

#chat {
  display: flex;
  font-family: "Pixels";
  background-color: inherit;
  color: transparent;
  text-shadow: 0 0 0 #FFFFFF;
  border: none;
  width: 576px;
  margin: 16px;
  padding: 0;
}

#game-text {
  font-family: "Pixels";
  /*font-family: "Press Start 2P", monospace;*/
  font-size: 1em;
  color: white;
  padding: 0;
  line-height: 0.8em;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
  font-size: 0.8em;
  opacity: 0.8;
  text-align: right;
  font-family: "Press Start 2P", monospace;
  color: white;
  cursor: default;
}